# ignore .DS_store
.DS_Store

# ignore R matrix files as the user will download these themselves.
DATA/R*

# ignore OUTPUT_FILES
OUTPUT_FILES/*

# ignore .pyc files
*.pyc

# ignore python cache
__pycache__/*

# ignore .vscode directory
.vscode/*
